@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url("https://i.pinimg.com/originals/19/67/ab/1967abd1df85721314ee011151baf386.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 15px;
  font-size: 3rem;
}

img {
  height: 70vh;
}

p {
  margin: 10px;
  font-size: 1.25rem;
  text-align: center;
  width: 70vw;
}

button {
  margin: 15px;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: solid black 2px;
}

button:hover {
  cursor: pointer;
}


div.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

a.link {
  margin: 10px;
  color:blueviolet;
  font-size: 1.25rem;
}

img.gif {
  height: 20vw;
}

div.gify {
  margin-block: 15px;
}